.laptop-section {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;

    .image-container, .text-container {
        flex: 1;
    }

    .image-container {
        .desktop-laptop {
            height: 100%;
            width: 150%;
            margin-left: -43%;
        }

        .mobile-laptop {
            display: none;
        }
    }

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        padding: 50px;

        .text-1, .text-2 {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h3 {
                font-size: 25px;
                color: $veryDarkBlue;
            }

            p {
                font-size: 16px;
                color: $darkGray;
            }
        }
    }
}

@media all and (max-width: 800px) {
    .laptop-section {
        display: flex;
        flex-direction: column;

        .image-container {
            flex: 1;

            .desktop-laptop {
                display: none;
            }
    
            .mobile-laptop {
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        .text-container {
            flex: 2;
            text-align: center;
        }
    }
}