.main {
    display: flex;
    flex-direction: column;

    .editor-section, .laptop-section {
        flex: 3;
    }

    .phones-section, .laptop-section {
        padding-right: 125px;
    }

    .editor-section {
        padding-top: 50px;
        padding-bottom: 50px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;

        .title-container {
            grid-column: 2 / 4;
            grid-row: 1 / 2;
            @include flexCenter(row);

            .title {
                font-size: 35px;
                color: $veryDarkBlue;
            }
        }

        .text-container {
            grid-column: 1 / 3;
            grid-row: 2 / 4;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 40px;
            padding: 20px;

            .text-1, .text-2 {
                display: flex;
                flex-direction: column;
                gap: 20px;
                padding-bottom: 20px;

                h3 {
                    font-size: 25px;
                    color: $veryDarkBlue;
                }

                p {
                    font-size: 16px;
                    color: $darkGray;
                }
            }
        }

        .image-container {
            grid-column: 3 / 6;
            grid-row: 1 / 5;
            overflow: hidden;

            .image {
                height: 100%;
                width: 140%;
            }
        }
    }

    .phones-section {
        flex: 1;
        background: url("../../images/bg-pattern-circles.svg");
        background-repeat: no-repeat;
        background-size: 70% 200%;
        background-position: -200px -300px;
        background-color: $grayBlue;
        border-top-right-radius: 75px;
        border-bottom-left-radius: 75px;
        display: flex;
        flex-direction: row;
        /*padding: 100px 75px;*/
        /*padding: 100px 125px;*/
        padding-top: 100px;
        padding-left: 75px;
        padding-bottom: 100px;
        position: relative;

        .image {
            position: absolute;
            height: 150%;
            top: -65px;
        }

        .text {
            color: white;
            margin-left: 50%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            h2 {
                font-size: 35px;
            }

            p {
                font-size: 16px;
                /*padding-right: 50px;*/
                line-height: 1.5;
            }
        }
    }

    .laptop-section {
        padding-top: 100px;
        padding-bottom: 100px;
        display: flex;
        flex-direction: row;

        .image-container, .text-container {
            flex: 1;
        }

        .image-container {
            .image {
                height: 100%;
                width: 150%;
                margin-left: -43%;
            }
        }

        .text-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            padding: 50px;

            .text-1, .text-2 {
                display: flex;
                flex-direction: column;
                gap: 20px;

                h3 {
                    font-size: 25px;
                    color: $veryDarkBlue;
                }

                p {
                    font-size: 16px;
                    color: $darkGray;
                }
            }
        }
    }
}