.phones-section {
    flex: 1;
    background: url("../images/bg-pattern-circles.svg");
    background-repeat: no-repeat;
    background-size: 70% 200%;
    background-position: -200px -300px;
    background-color: $grayBlue;
    border-top-right-radius: 75px;
    border-bottom-left-radius: 75px;
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    padding-left: 75px;
    padding-bottom: 100px;
    position: relative;

    .image {
        position: absolute;
        height: 150%;
        top: -65px;
    }

    .text {
        color: white;
        margin-left: 50%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2 {
            font-size: 35px;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
        }
    }
}

@media all and (max-width: 1200px) {
    .phones-section {
        display: flex;
        flex-direction: column;
        padding: 200px 20px 100px 20px;

        .image {
            height: 400px;
            width: 350px;
            top: -210px;
            margin: auto;
            left: 0;
            right: 0;
        }

        .text {
            margin-left: 0;
            text-align: center;
            padding: 0 20px;
        }
    }
}

@media all and (max-width: 800px) {
    .phones-section {
        background-size: 120% 120%;
        background-position: -50px -200px;
    }
}

@media all and (max-width: 350px) {
    .phones-section {
        .image {
            height: 250px;
            width: 200px;
            top: -100px;
        }
    }
}