@font-face {
  font-family: "Overpass Light";
  src: url("../fonts/Overpass/static/Overpass-Light.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Overpass Light";
}

html, body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .body-element {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .header, body .editor-section, body .footer {
  padding-left: 100px;
}

body .header, body .footer {
  padding-right: 100px;
}

body .header {
  border-bottom-left-radius: 75px;
  background-color: #ff525d;
  background-image: url("/images/bg-pattern-intro-desktop.svg");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 20% 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .header button {
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid;
  font-weight: bold;
  cursor: pointer;
}

body .header .login-btn, body .header .signup-btn, body .header .start-btn {
  border-width: 3px;
}

body .header .nav-container, body .header .title-container {
  padding-bottom: 125px;
}

body .header .nav-container {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

body .header .nav-container .desktop-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 25px;
}

body .header .nav-container .buttons-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header .nav-container .buttons-container .login-btn, body .header .nav-container .buttons-container .signup-btn {
  padding-left: 30px;
  padding-right: 30px;
  border-color: transparent;
}

body .header .nav-container .buttons-container .login-btn:hover, body .header .nav-container .buttons-container .signup-btn:hover {
  border-color: white;
}

body .header .nav-container .buttons-container .login-btn {
  background: transparent;
  color: white;
}

body .header .nav-container .buttons-container .signup-btn {
  background: white;
  color: #ff525d;
}

body .header .nav-container .buttons-container .signup-btn:hover {
  background: transparent;
  color: white;
}

body .header .nav-container .mobile-nav-container {
  display: none;
}

body .header .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header .title-container h1 {
  font-size: 50px;
}

body .header .title-container p {
  margin-top: 20px;
  margin-bottom: 40px;
}

body .header .title-container .buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

body .header .title-container .buttons-container .start-btn {
  padding-left: 10px;
  padding-right: 10px;
  background: white;
  color: #ff525d;
  border-color: transparent;
}

body .header .title-container .buttons-container .start-btn:hover {
  background: transparent;
  color: white;
  border-color: white;
}

body .header .title-container .buttons-container .learn-btn {
  padding-left: 15px;
  padding-right: 15px;
  border-color: white;
  background: transparent;
  color: white;
  border-width: 2px;
}

body .header .title-container .buttons-container .learn-btn:hover {
  border-color: transparent;
  color: #ff525d;
  background: white;
}

@media all and (max-width: 1000px) {
  body .header {
    background-image: url("/images/bg-pattern-intro-mobile.svg");
    background-size: 250%;
  }
  body .header .nav-container .desktop-nav, body .header .nav-container .buttons-container {
    display: none;
  }
  body .header .nav-container .mobile-nav-container {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  body .header .nav-container .mobile-nav-container .hamburger {
    cursor: pointer;
  }
  body .header .title-container h1 {
    text-align: center;
  }
}

body .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .main .editor-section, body .main .laptop-section {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

body .main .phones-section, body .main .laptop-section {
  padding-right: 125px;
}

body .main .editor-section {
  padding-top: 50px;
  padding-bottom: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "title image" "text image" "text image" "text image";
}

body .main .editor-section .title-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body .main .editor-section .title-container .title {
  font-size: 35px;
  color: #1f3f5b;
  position: absolute;
  width: 120%;
  left: 0;
  text-align: right;
}

body .main .editor-section .text-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: text;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 40px;
  padding: 20px;
}

body .main .editor-section .text-container .text-1, body .main .editor-section .text-container .text-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}

body .main .editor-section .text-container .text-1 h3, body .main .editor-section .text-container .text-2 h3 {
  font-size: 25px;
  color: #1f3f5b;
}

body .main .editor-section .text-container .text-1 p, body .main .editor-section .text-container .text-2 p {
  font-size: 16px;
  color: #646464;
}

body .main .editor-section .image-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  grid-area: image;
  overflow: hidden;
}

body .main .editor-section .image-container .desktop-editor {
  height: 100%;
  width: 140%;
}

body .main .editor-section .image-container .mobile-editor {
  display: none;
}

@media all and (max-width: 1200px) {
  body .main .editor-section {
    padding-bottom: 275px;
  }
}

@media all and (max-width: 1000px) {
  body .main .editor-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .main .editor-section .title-container {
    position: static;
  }
  body .main .editor-section .title-container .title {
    position: static;
    width: 100%;
    text-align: center;
  }
  body .main .editor-section .image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .main .editor-section .image-container .desktop-editor {
    display: none;
  }
  body .main .editor-section .image-container .mobile-editor {
    display: block;
  }
  body .main .editor-section .text-container {
    text-align: center;
  }
  body .main .editor-section .text-container .text-1, body .main .editor-section .text-container .text-2 {
    padding: 0 20px;
  }
}

body .main .phones-section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("../../images/bg-pattern-circles.svg");
  background-repeat: no-repeat;
  background-size: 70% 200%;
  background-position: -200px -300px;
  background-color: #2c2d3f;
  border-top-right-radius: 75px;
  border-bottom-left-radius: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 100px;
  padding-left: 75px;
  padding-bottom: 100px;
  position: relative;
}

body .main .phones-section .image {
  position: absolute;
  height: 150%;
  top: -65px;
}

body .main .phones-section .text {
  color: white;
  margin-left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

body .main .phones-section .text h2 {
  font-size: 35px;
}

body .main .phones-section .text p {
  font-size: 16px;
  line-height: 1.5;
}

@media all and (max-width: 1200px) {
  body .main .phones-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 200px 20px 100px 20px;
  }
  body .main .phones-section .image {
    height: 400px;
    width: 350px;
    top: -210px;
    margin: auto;
    left: 0;
    right: 0;
  }
  body .main .phones-section .text {
    margin-left: 0;
    text-align: center;
    padding: 0 20px;
  }
}

@media all and (max-width: 800px) {
  body .main .phones-section {
    background-size: 120% 120%;
    background-position: -50px -200px;
  }
}

body .main .laptop-section {
  padding-top: 100px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .main .laptop-section .image-container, body .main .laptop-section .text-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .main .laptop-section .image-container .desktop-laptop {
  height: 100%;
  width: 150%;
  margin-left: -43%;
}

body .main .laptop-section .image-container .mobile-laptop {
  display: none;
}

body .main .laptop-section .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  padding: 50px;
}

body .main .laptop-section .text-container .text-1, body .main .laptop-section .text-container .text-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

body .main .laptop-section .text-container .text-1 h3, body .main .laptop-section .text-container .text-2 h3 {
  font-size: 25px;
  color: #1f3f5b;
}

body .main .laptop-section .text-container .text-1 p, body .main .laptop-section .text-container .text-2 p {
  font-size: 16px;
  color: #646464;
}

@media all and (max-width: 800px) {
  body .main .laptop-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .main .laptop-section .image-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  body .main .laptop-section .image-container .desktop-laptop {
    display: none;
  }
  body .main .laptop-section .image-container .mobile-laptop {
    display: block;
    width: 100%;
    height: 100%;
  }
  body .main .laptop-section .text-container {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    text-align: center;
  }
}

body .footer {
  background-color: #25252d;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 75px;
  padding-bottom: 75px;
  border-top-right-radius: 75px;
}

body .footer .logo-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .footer .nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 10px;
  font-size: 14px;
  font-weight: bold;
}

body .footer .nav .nav-title {
  margin-bottom: 20px;
  color: white;
}

body .footer .nav .nav-element {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

body .footer .nav .nav-element:hover {
  border-bottom-color: white;
}

@media all and (max-width: 1000px) {
  body .header, body .footer {
    padding-left: 30px;
  }
  body .editor-section {
    padding-left: 0;
  }
  body .header, body .footer {
    padding-right: 30px;
  }
}

@media all and (max-width: 800px) {
  body .main .laptop-section {
    padding-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */