$lightRed: hsl(356, 100%, 66%);

@font-face {
    font-family: "Overpass Light";
    src: url("../fonts/Overpass/static/Overpass-Light.ttf");
}

@mixin flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Overpass Light";
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    .body-element {
        flex: 1;
    }

    .header, .editor-section, .footer {
        padding-left: 125px;
        padding-right: 125px;
    }

    @import "./sass-components/header";
}