$lightRed: hsl(356, 100%, 66%);
$veryDarkBlue: hsl(208, 49%, 24%);
$grayBlue: hsl(237, 17%, 21%);
$darkGray: rgb(100, 100, 100);

@font-face {
    font-family: "Overpass Light";
    src: url("../fonts/Overpass/static/Overpass-Light.ttf");
}

@mixin flexCenter($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Overpass Light";
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    .body-element {
        flex: 1;
    }

    .header, .editor-section, .footer {
        padding-left: 100px;
    }

    .header, .footer {
        padding-right: 100px;
    }

    @import "./sass-components/header";
    @import "./sass-components/main";
}